.character {
  background-color: #2a4e4b;
  padding-top: calc(50px);
  min-height: calc(100vh - 50px - 58px - 100px);
}

.outer-grid-container {
  padding-bottom: 50px;
}

.grid-header {
  padding-bottom: 20px;
  font-size: 2rem;
}

.grid-container-div {
  width: 560px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid-container-div {
    width: 270px;
  }
}
