<nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger @(_collapseNavMenu ? "" : "is-active")" aria-label="menu"
           aria-expanded="false" data-target="navbarBasicExample" @onclick="ToggleNavMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu @(_collapseNavMenu ? "" : "is-active")">
        <div class="navbar-start">
            <NavLink class="navbar-item custom-navbar-item" href="" Match="NavLinkMatch.All">
                Character
            </NavLink>
            <NavLink class="navbar-item custom-navbar-item" href="quests">
                Quests
            </NavLink>
        </div>
    </div>
</nav>

@code {
    private bool _collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}