@using System.Reflection
@using System.Text.Json
@using Web.Client.Models
@inject HttpClient HttpClient

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>

    <div class="position-absolute start-0 bottom-0 m-2 text-white-50" style="font-size: 1rem;">
        @if (!string.IsNullOrWhiteSpace(_appVersion))
        {
            <a href="@_tagLink"
               target="_blank"
               class="d-flex align-items-center text-white-50 text-decoration-none mb-1"
               title="View tagged commit on GitHub"
            >
                <i class="bi bi-tag-fill me-1"></i>
                <span class="align-middle text-white-50 font-monospace">
                    @_appVersion
                </span>
            </a>
            <a href="https://github.com/haakon8855"
               target="_blank"
               class="d-flex align-items-center text-white-50 text-decoration-none"
               title="View source on GitHub"
            >
                <i class="bi bi-github me-1"></i>
                <span class="font-monospace">haakon8855</span>
            </a>
        }
    </div>
</div>

@code {

    private string? _appVersion;
    private string? _tagLink;

    protected override async Task OnInitializedAsync()
    {
        _appVersion = (await HttpClient.GetFromJsonAsync<VersionModel>("version.json"))?.Version ?? "localhost";
        _tagLink = _appVersion == "localhost" ? "" : $"https://github.com/haakon8855/haakon8855.github.io/releases/tag/{_appVersion}";
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
