@page "/"
@using Web.Client.Models

@inject HttpClient HttpClient
@inject NavigationManager NavManager

<PageTitle>Haakon8855</PageTitle>

<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Greetings, Adventurer!
            </h1>
            <h2 class="subtitle is-4">
                You've gained unauthorised access to <span class="has-text-warning">Haakon8855</span>'s Personal Data
                Log™<br/>
                A developer with a burning passion for Backend dungeon-delving, while sometimes prone to rogue
                Fullstack adventures.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">

            @* --- Section 1: About Me --- *@
            <div class="column is-8">
                <div class="columns is-multiline is-center">
                    <div class="column is-12">
                        <div class="box has-background-dark has-text-white-ter">
                            <h3 class="title is-4 has-text-info">
                                Adventure Log: Chapter One
                            </h3>
                            <p class="subtitle is-6 has-text-grey-light">
                                Warning: May contain traces of .NET
                            </p>
                            <div class="content">
                                <p>
                                    My quests primarily revolve around Backend .NET development, where I can earn a
                                    sizeable
                                    amount of C# XP without the need for tedious grinding sessions.
                                    When delving in especially perilous dungeons, the need to perform Debugging Rituals
                                    might
                                    arise. I'm indeed very good at these, though often at the expense of
                                    my caffeine provisions. As for Frontend dungeons, those containing monsters from the
                                    React
                                    realm are... well, I'll occasionally grind for some React and TypeScript XP there,
                                    but it's
                                    a work in progress. My full-stack title is more of a hopeful aspiration than a
                                    verified
                                    feat.
                                </p>
                                <p>
                                    When not delving into backend dungeons as required by my Guild, you might find me in
                                    frontend potion-crafting sessions. Blazor is my framework of choice, consistently
                                    yielding
                                    superior potions. However, I'm fully capable of working with the ingredients
                                    I'm given, even if it means facing vicious React or TypeScript creatures.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="box has-background-dark has-text-white-ter">
                            <h3 class="title is-4 has-text-info">
                                Traits
                            </h3>
                            <p class="subtitle is-6 has-text-grey-light">
                                Character Perks and Flaws
                            </p>
                            <ul>
                                <li>
                                    Engineererer
                                    <ul>
                                        <li>Once per dungeon you can cast a Future Proofing spell, making you better
                                            prepared for the dangers ahead. Lowers damage by 10% if performed too
                                            early
                                            or too late in the dungeon.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Legacy Code Whisperer
                                    <ul>
                                        <li>You're better at reading legacy code, but when you do, your sanity
                                            slowly
                                            degrades. (Sanity replenishes every long rest)
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Eleventh Hour Hero
                                    <ul>
                                        <li>Your productivity increases greatly the closer you are to a deadline,
                                            but
                                            you suffer -2 luck whenever unexpected problems emerge at the final
                                            hour.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            @* --- Section 2: Skills / Inventory & Proficiencies --- *@
            <div class="column is-4 is-flex">
                <div class="box has-background-dark has-text-white-ter is-flex-grow-1">
                    <h3 class="title is-4 has-text-info">
                        Skills
                    </h3>
                    <p class="subtitle is-6 has-text-grey-light">
                        Class: Fullstack Developer
                    </p>
                    <div class="content">
                        <p>
                            <span class="has-text-weight-bold">Major Skills:</span>
                        </p>
                        <ul>
                            <li>C# + .NET <span class="has-text-grey">(Preferred weapon of choice)</span></li>
                            <li>ASP.NET Core</li>
                            <li>Blazor <span class="has-text-grey">(My preferred potion crafting framework)</span></li>
                            <li>SQL + Entity Framework Core</li>
                            <li>Azure Cloud
                                <span
                                    class="has-text-grey">(I have fought and defeated the mighty AZ-500)</span></li>
                            <li>Git <span
                                    class="has-text-grey">(Spellcasting school of time-bending, I'm quite the journeyman)</span>
                            </li>
                            <li>Python <span class="has-text-grey">(My old weapon of choice)</span></li>
                            <li>Vim <span class="has-text-grey">(Did you know i use Vim? (I use vim, bwt))</span></li>
                        </ul>
                        <p class="mt-3">
                            <span class="has-text-weight-bold">Minor Skills:</span>
                        </p>
                        <ul>
                            <li>JavaScript + TypeScript <span class="has-text-grey">(used only when necessary, a last-resort weapon)</span>
                            </li>
                            <li>HTML <span class="has-text-grey">(HTML isn't that bad, I'm doing it right now!)</span>
                            </li>
                            <li>CSS <span
                                    class="has-text-grey">(CSS spells are very difficult to cast, and often backfire)</span>
                            </li>
                            <li>Docker <span
                                    class="has-text-grey">(If it works on my machine, why not just deploy my machine?)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @* --- Section 3: Projects / Completed Quests & Forged Artifacts --- *@
            <div class="column is-12">
                <div class="box has-background-dark has-text-white-ter">
                    <h3 class="title is-4 has-text-info">
                        Completed Quests & Forged Artifacts
                    </h3>
                    <p class="subtitle is-6 has-text-grey-light">
                        A glimpse into the loot I've gathered
                    </p>
                    <div class="columns is-multiline">
                        @if (_quests.Count >= 2)
                        {
                            @for (var i = 0; i < 2; i++)
                            {
                                var quest = _quests[i];
                                <div class="column is-half">
                                    <a href="quests/@i" class="card-link-wrapper">
                                        <div class="card has-background-grey-darker has-text-white-ter">
                                            <div class="card-content">
                                                <p class="title is-5 has-text-warning">
                                                    <span class="icon mr-2">
                                                        <i class="bi @quest.IconClass"></i>
                                                    </span>
                                                    @quest.Title
                                                </p>
                                                <p class="subtitle is-7 has-text-grey-light">
                                                    @quest.Subtitle
                                                </p>
                                                <div class="content is-size-7">
                                                    @quest.Description
                                                    <br>
                                                    <span class="has-text-info">Click me for more details!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                    <p class="has-text-centered mt-4">
                        <a href="quests"
                           class="button is-warning is-medium is-size-7-mobile">
                            <span>Explore my other dungeons</span>
                        </a>
                    </p>
                </div>
            </div>

            @* --- Section 4: Contact / Recruitment --- *@
            <div class="column is-8">
                <div class="box has-background-dark has-text-white-ter">
                    <h3 class="title is-4 has-text-info">
                        Summoning
                    </h3>
                    <p class="subtitle is-6 has-text-grey-light">
                        How to summon me
                    </p>
                    <div class="content has-text-centered">
                        <div>
                            Seeking a well-caffeinated adventurer for your Guild? Or just want to debate the
                            optimal build for a .NET Wizard?
                        </div>
                        <a href="https://linkedin.com/in/håkon-anders-stromsodd/" target="_blank"
                           class="button is-info is-medium mr-2 is-size-7-mobile mt-4">
                            <span class="icon"><i class="bi bi-linkedin"></i></span>
                            <span>Cast LinkedIn summoning spell</span>
                        </a>
                        <a href="mailto:haakon8855@gmail.com" class="button is-success is-medium is-size-7-mobile mt-4">
                            <span class="icon"><i class="bi bi-envelope-fill"></i></span>
                            <span>Send a Raven (Email)</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@code {

    private List<QuestModel> _quests = [];

    protected override async Task OnInitializedAsync()
    {
        _quests = await HttpClient.GetFromJsonAsync<List<QuestModel>>("content/quests.json") ?? [];
    }

    private void NavigateToQuestDetails(int questIndex)
    {
        NavManager.NavigateTo($"quests/{questIndex}");
    }

}
